.galery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.galery-list {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.galery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 50px;
}

.galery-list-description-text {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-dark);
}