:root {
    --primary-fonts: "Roboto", sans-serif;
    --secondary-fonts: "Raleway", sans-serif;
    --body-background-color: #ffffff;
    --primary-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --primary-text-color-theme-light: #757575;
    --secondary-text-color-theme-light: #212121;
    --primary-text-color-theme-dark: #ffffff;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --accent-color-hero-btn: #188ce8;
}